<div class="cont">
    <div class="title">
        What our customers say about us
    </div>
    <div class="items">
        <div class="item">
            <div class="customer-name">Yatoo</div>
            <div class="stars">
                <img *ngFor="let x of [0,1,2,3,4]"
                    src="https://firebasestorage.googleapis.com/v0/b/chat-cdb22.appspot.com/o/star.png?alt=media&token=8fb43af4-c5a0-4921-8593-fca577af84dc"
                    alt="">
            </div>
            <div class="review">
                “This was definitely my best
                experience with live chat software.
                Plug and play.
                Intuitive. Fast. Clean. Amazing.”
            </div>
        </div>
        <div class="item">
            <div class="customer-name">ATB Bank</div>
            <div class="stars">
                <img *ngFor="let x of [0,1,2,3,4]"
                    src="https://firebasestorage.googleapis.com/v0/b/chat-cdb22.appspot.com/o/star.png?alt=media&token=8fb43af4-c5a0-4921-8593-fca577af84dc"
                    alt="">
            </div>
            <div class="review">
                “Excellent simple live chat solution that has provided my company with a direct way to communicate with
                potential customers.”
            </div>
        </div>
        <div class="item">
            <div class="customer-name">Wled Amor</div>
            <div class="stars">
                <img *ngFor="let x of [0,1,2,3,4]"
                    src="https://firebasestorage.googleapis.com/v0/b/chat-cdb22.appspot.com/o/star.png?alt=media&token=8fb43af4-c5a0-4921-8593-fca577af84dc"
                    alt="">
            </div>
            <div class="review">
                “GUI is intuitive and you don’t need any training for that. Me and my colleagues use Windows and Android
                app and it’s working flawlessly.”
            </div>
        </div>
        <div class="item">
            <div class="customer-name">707</div>
            <div class="stars">
                <img *ngFor="let x of [0,1,2,3,4]"
                    src="https://firebasestorage.googleapis.com/v0/b/chat-cdb22.appspot.com/o/star.png?alt=media&token=8fb43af4-c5a0-4921-8593-fca577af84dc"
                    alt="">
            </div>
            <div class="review">
                “Great customer support! Easy to use, cool user interface. With Chaport you will find all you need.
                Really recommend to use this tool.”
            </div>
        </div>
    </div>
</div>