<div class="cont">

    <h3>Anywhere in the world Companies use xxxxxxxxx to assist their clients</h3>
    <br>
    <div class="cont2">
        <div class="companies">
            <img src="https://firebasestorage.googleapis.com/v0/b/chat-cdb22.appspot.com/o/country.png?alt=media&token=3880f7ad-2881-49d6-8765-50bff491e3b3"
                alt="errrraaa">
            <h2 class="num">30+</h2>
            <h2 class="name">Companies</h2>
        </div>

        <div class="countries">
            <img src="https://firebasestorage.googleapis.com/v0/b/chat-cdb22.appspot.com/o/world.png?alt=media&token=2bae743e-9350-4f3c-9cf1-9b6121c8406a"
                alt="errrraaa">
            <h2 class="num">5+</h2>
            <h2 class="name">Countries</h2>
        </div>
    </div>
</div>