<div class="cont">
    <div class="title">
        <img src="https://firebasestorage.googleapis.com/v0/b/chat-cdb22.appspot.com/o/talk.png?alt=media&token=37d7ade4-efea-4417-93e4-806f0e06fd92"
            alt="errrrraaaaaaaaaaa">

        <div class="chat-tools">Chat tools</div>
        <div class="include">Included:</div>
    </div>
    <hr>
    <div class="item">
        <div class="text">
            <span>File sharing:</span>
            Send and receive JPG, JPEG, PNG, GIF, PDF and TXT files via the chatbox.
        </div>
        <div class="done">✔</div>
    </div>
    <div class="item colored">
        <div class="text">
            <span>Video call:</span>
            Video chat with customers & colleagues alike.
        </div>
        <div class="done">✔</div>
    </div>
    <div class="item">
        <div class="text">
            <span>Visitor details:</span>

            View visitor name, location, and more while you chat.
        </div>
        <div class="done">✔</div>
    </div>
    <div class="item colored">
        <div class="text">
            <span>Chat notifications:</span>
            Receive desktop notifications for new chat messages.
        </div>
        <div class="done">✔</div>
    </div>
    <div class="item">
        <div class="text">
            <span>Chat transfers:</span>
            Reassign chats to deliver consistent service and efficient solutions.
        </div>
        <div class="done">✔</div>
    </div>

</div>