.cont {
  background-color: #eef1ea;
  height: 1400px;
  position: relative;
  padding-top: 300px;
  margin-bottom: 200px;
}
.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
}
.steps {
  display: flex;
  margin-top: 150px;
  padding: 0 5%;
}
.item {
}
svg {
  margin-bottom: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.item h2 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 20px;
}
.item p {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 80%;
  font-size: 1.5rem;
  color: rgba(29, 28, 28, 0.863);
}
svg:hover {
  height: 300px;
  width: 300px;
  transition: 0.5s;
}
.mysvg {
  height: 350px;
}
button {
  margin-top: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 20%;
  padding: 0.7% 2%;
  font-size: 2rem;
  word-spacing: 20px;
  border: 0.7px solid rgba(0, 0, 0, 0.575);
}
button:hover {
  transition: 0.7s;
  background-color: #fac917;
}
* {
  font-family: "Londrina Solid", cursive !important;
}