<app-navbar></app-navbar>

<div class="cont">
    <div class="title">
        Hire Chat Agents, for just $1 per hour  
    </div>
    <div class="goods">
        <div class="item">
                <img src="https://firebasestorage.googleapis.com/v0/b/chat-cdb22.appspot.com/o/r1.png?alt=media&token=7a22285b-a50c-4754-a09a-4067ad9398f1" alt="err">
                <h2>Just $1/hour</h2>
            <p>
                From as little as $1 per hour, hire Pro, trained chat agents. Our rates simply can’t be beaten.
            </p>
        </div>
        <div class="item">
            
            <img src="https://firebasestorage.googleapis.com/v0/b/chat-cdb22.appspot.com/o/r2.png?alt=media&token=ac7705f9-8f0d-4c7c-8b21-115b17c4f439" alt="err">
            <h2>Real humans</h2>
        <p>
            No bots with thoughtless answers. We only hire real humans trained to be customer service experts.
        </p>
     </div>
      <div class="item">
            <img src="https://firebasestorage.googleapis.com/v0/b/chat-cdb22.appspot.com/o/r3.png?alt=media&token=6a316210-0651-4d59-88c4-7f289be462cd" alt="err">
            <h2>Better leads            </h2>
        <p>
            Highly qualified leads — that’s what our expert agents can deliver, resulting in better advertising ROI.        </p>
      </div>
    </div>
    <div class="goodsL2">
        <div class="item">
            <img src="https://firebasestorage.googleapis.com/v0/b/chat-cdb22.appspot.com/o/r4.png?alt=media&token=9d6112d9-ab1e-4402-b080-9b4bd0fd0c94" alt="err">
            <h2>24x7-365</h2>
        <p>
            We don’t ever close, which means your customers get great service every single day of the year.        </p>
    </div>
    <div class="item">
        <img src="https://firebasestorage.googleapis.com/v0/b/chat-cdb22.appspot.com/o/r5.png?alt=media&token=79f4c38b-e0cd-450c-8b31-5bb4c2b91a5f" alt="err">
        <h2>Native speakers</h2>
    <p>
        English? Italian? German? French? Spanish? Our team of native speakers speaks your customer’s language.    </p>
</div>

    </div>
      </div>

<div class="cont2">
    <div class="title">
        Compare the savings ...
    </div>
    <div class="title2">
        You can save up to 97% by hiring chat agents
    </div>
    <div class="myth">
        <div class="it">Costs</div>
        <div class="it">Direct Hire</div>
        <div class="it">Hire Chat Agents</div>
    </div>
    <div class="mytd" *ngFor="let item of myList">
        <div class="it2">{{item.cost}}</div>
        <div class="it2">{{item.direct}}</div>
        <div class="it2">{{item.ca}}</div>
    </div>


</div>