<div style="margin-top: 700px;" class="cont d-flex justify-content-center">
    <div class="box ">
        <img src="https://firebasestorage.googleapis.com/v0/b/chat-cdb22.appspot.com/o/yellow1.png?alt=media&token=5ca386e8-d53f-48c3-8139-0a46d32aa75d"
            alt="errrrrrrrrrrraaaaaaaaa">
        <h3>Power up your marketing</h3>
        <div class="details">

            <span>✔</span>
            <li style="margin-bottom: 7%;">Personalize your customer experience.</li>

        </div>
        <div class="details">

            <span>✔</span>
            <li style="margin-bottom: 7%;">Engage prospects and customers across multiple communication channels.</li>

        </div>

    </div>
    <div class="box box2">
        <img src="https://firebasestorage.googleapis.com/v0/b/chat-cdb22.appspot.com/o/yellow2.png?alt=media&token=7103daf8-ed13-470b-b694-3d370fd36967"
            alt="errrrrrrrrrrraaaaaaaaa">
        <h3>Supercharge your sales</h3>
        <div class="details">

            <span>✔</span>
            <li style="margin-bottom: 7%;">Scale your efforts without increasing employee headcount.</li>

        </div>
        <div class="details">

            <span>✔</span>
            <li style="margin-bottom: 7%;">Generate and qualify leads automatically.</li>

        </div>

    </div>
    <div class="box ">
        <img src="https://firebasestorage.googleapis.com/v0/b/chat-cdb22.appspot.com/o/yellow3.png?alt=media&token=7049561f-5e26-4618-a6d6-3d443532e973"
            alt="errrrrrrrrrrraaaaaaaaa">
        <h3>Optimize your support</h3>
        <div class="details">

            <span>✔</span>
            <li style="margin-bottom: 7%;">Keep your customer support going after hours.</li>

        </div>
        <div class="details">

            <span>✔</span>
            <li style="margin-bottom: 7%;">Improve resolution times.</li>

        </div>

    </div>
</div>