<body>
   <div class="cont">
    <div class="title">
      Create a new account
  
    </div>
    <div class="social">
      <button>
        <img src="https://img.icons8.com/fluent/48/000000/google-logo.png"/>
        <h2>Sign up</h2>

      </button>
      <button>
        <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/>
        <h2>Sign up</h2>

      </button>
      
    </div>
    <div class="or">
      or
    </div>
    <div class="container">

        
        <form>
          
          <div class="group">      
            <input type="text" required >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Company name</label>
          </div>
            
          <div class="group">      
            <input class="in" type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
          </div>
          <div class="group">      
            <input type="password" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Password</label>
          </div>
          <div class="sub">      
            <input type="submit" value="Register" >
          </div>

          
        </form>
        <div class="already">
          Already got an account?  now
        </div>
      
        
      </div>
      
    </div>
</body>